body{
    background-image: url('../images/memphis-colorful.png');
    background-color: #cccccc;
}

.container{
    position: fixed;
    /* align-self: center; */
    top: 8%;
    left: 25%;
    max-width: 50%;
    background-color: aquamarine;
    padding: 3%;
}

.answer {
    font-size: 24px;
} 
.answer:hover {
    font-weight: bolder;
    cursor: pointer;
}